* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main_page {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(60deg, white, yellow, rgb(47, 153, 47), white);
}


#navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}

.navigation-bar {
    height: 70px;
    width: 100%;
    text-align:center;
}



.navigation-bar ul {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.navigation-bar li a {
    color: white;
    font-size: 25px;
    font-weight: 600;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
}

.list{
    float: right;
}


.mind_activism {
    width: 150px;
    height: 150px;
    position: absolute;
    left:0
}

.welcome_container {
    height: 250px;
    width: 400px;
    background-color: rgb(47, 153, 47);
    background-image: url(./Image/Welcome.png);
    background-size: cover;
    z-index: 2;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding-top: 3rem;
    padding-left: 2.5rem;
    font-size: 2rem;
    border: 4px solid rgb(31, 193, 27);
    animation: welcomePosition 3s;
    animation-fill-mode: forwards;
}

.close {
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover {
    transform: scale(1.1);
}

.wallpaper {
    width: 1000px;
    height: 750px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.welcomeText {
    font-size: 0.8rem;
    margin-top: -2rem;
    color: brown;
    font-weight: 600;
}

.Quote {
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: red;
}

@keyframes welcomePosition {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}